img.logo {
  width: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 0 15px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  padding: 5px;
  width: 200px;
}

.res-container {
  display: flex;
}

.res-card:hover {
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}
